.Column {
  flex: 1;
  padding: 10px;
  text-align: center;
}

ul {
  position: relative;
  padding: 0;
}

li {
  padding: 0;
  position: absolute;
  border: 1px solid;
  transition: all .1s ease-out .1s;
  list-style: none;
}

li.touched {
  background-color: #cfc;
}

